:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.4em);
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    max-width: 100vw;
}
/* ----- SVG Icons - svgicons.sparkk.fr ----- */ 
.svg-icon {
    width: 1.5em; 
    height: 1.5em; 
} 
.svg-icon path, .svg-icon polygon, .svg-icon rect {
    fill: #fff; 
} 
.svg-icon circle { 
    stroke: #fff; 
    stroke-width: 1; 
}
.super {
    font-size: 0.5em;
    vertical-align: super;
}
.hero {
    background: url(../images/coding-mobile.jpg) no-repeat, grey;
    background-blend-mode: soft-light;
    background-size: cover; 
}
@media (min-width: 50em) {
    .hero {
        background: url(../images/coding-tablet.jpg) no-repeat, grey;
        background-blend-mode: soft-light;
        background-size: cover;
    }
}
@media (min-width: 80em) {
    .hero {
        background: url(../images/coding-large-screen.jpg) no-repeat, grey;
        background-blend-mode: soft-light;
        background-size: cover;
    }
}
.nav__inner {

}
@media (min-width: 50em) {
    .nav__inner {
        background: linear-gradient(180deg, hsl(0deg 0% 40%), hsl(0deg 0% 50%));
        opacity: 85%;
    }
}
.home-link {
    min-width: 100vw;
    opacity: 90%;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 600;
    padding: 0.3em;
    background: linear-gradient(180deg, hsl(0deg 0% 40%), hsl(0deg 0% 50%));
    opacity: 85%;
}
@media (min-width: 50em) {
    .home-link {
        background: initial;
        opacity: initial;
    }
}
.home-link > .sub {
    font-weight: initial;
    color: lightgrey;
    font-weight: 200;
}
.menu__toggle {
    position: relative;
    width: 1em;
    height: 1em;
    background-color: transparent;
    overflow: hidden;
    border: none;
    text-indent: 5em;
    font-size: 3rem;
    top: -1.2em;
    cursor: pointer;
}
.menu__toggle:after {
    position: absolute;
    top: -0.07em;
    right: 0.25em;
    content: "\2261";
    color: white;
}
@media (min-width: 50em) {
    .menu__toggle {
        display: none;
    }
}
.menu__dropdown {
    display: none;
}
.menu__drawer.is-open .menu__dropdown {
    display: block;
}
@media (min-width: 50em) {
    .menu__dropdown {
        display: block;
    }
}
.menu {
    list-style: none;
    position: absolute;
    top: 3.8em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(180deg, hsl(0deg 0% 20%), hsl(0deg 0% 40%));
    text-align: center;
    opacity: 90%;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}
@media (min-width: 50em) {
    .menu {
        position: initial;
        display: flex;
        border-radius: initial;
        justify-content: space-between;
        background: initial;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
}
.menu li {
    padding: 0;
    margin: 0;
}
@media (min-width: 50em) {
  
}
.menu > li > a {
    display: block;
    padding: 0.5em;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}
@media (min-width: 50em) {
    .menu > .main > a {
        padding: 0.2em 1.1em;
        font-size: 1rem;
    }
    .menu > .aside > a {
        font-size: 0.8em;
    }
}
@media (min-width:80em) {
    .menu > .main > a {
        padding: 0.2em 2em;
        font-size: 1rem;
    }
}
.intro {
    text-align: center;
    color: white;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 0 1em 0;
}
.intro > h1 {
    font-size: 4rem;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    letter-spacing: -0.04em;
}

.intro > p {
    font-size: 1.3rem;
}
@media (min-width: 50em) {
    .intro {
        padding-top: 4em;
    }
}
.container {

}
@media (min-width: 50em) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1.5em;
        max-width: 80vw;
        margin: 1.5em auto;
    }
}
@media (min-width: 80em) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.content {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}
.content * + * {
    margin-top: 1.5em;
}
.content > .button {
    margin-top: auto;
}
@media (min-width: 50em) {

}
.group {
    max-width: 80vw;
    margin: 1.5em auto;
    border: 1px solid lightgray;
    border-radius: 1em;
    padding-bottom: 2em;
}
@media (min-width: 50em) {
    .group {
        grid-column: span 1;
        grid-row: span 1;
        min-width: 50%;
        margin: 0.3em auto;
        font-size: 0.8em;
    }
}
.see-more {
    background-color: transparent;
    border: none;
    font-size: inherit;
    cursor: pointer;
    margin-top: 2.5em;
}
.legend {
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
}
.legend--green {
    color: hsl(120, 66%, 44%);
}
.legend--blue {
    color: hsl(197, 83%, 40%);
}
.legend--red {
    color: hsl(0, 80%, 55%);
}
.button {
    background-color: hsl(240deg, 20%, 20%);
    border: none;
    padding: 0.4em 1.1em;
    border-radius: 0.15em;
    color: white;
    cursor: pointer;
    font-size: inherit;
}
.button--blue {
    background-color: hsl(197, 83%, 40%);
}
.button--green {
    background-color: hsl(120, 66%, 44%);
}
.button--red {
    background-color: hsl(0, 80%, 55%);
}
