<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" href="../public/css/contact.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="inner-container">
                <div class="header">
                    <h1 class="page-heading">CONFETTI CUISINE</h1>
                </div>
                <div class="nav">
                    <ul class="site-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/features">Courses</a></li>
                        <li><a href="/pricing">contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="main flex">
                <div class="column-one tile">
                    <img class="main-image" src="../public/images/Image.jpg" alt="image">
                </div>
                <div class="column-two tile">
                    <h2>Reach out to us!</h2>
                    <form class="contact-form" action="/" method="post"> 
                        <input type="email" name="email" required> 
                        <input class="button" type="submit" value="submit">
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>