<!DOCTYPE html>
<html>
    <head>
        <title>Confetti cuisine</title>
        <link rel="stylesheet" href="../public/css/index.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="inner-container">
                <div class="header">
                    <h1 class="page-heading">CONFETTI CUISINE</h1>
                </div>
                <div class="nav">
                    <ul class="site-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/features">Courses</a></li>
                        <li><a href="/pricing">contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="main flex">
                <div class="column-one tile">
                    <img class="main-image" src="../public/images/Image.jpg" alt="image">
                </div>
                <div class="column-two tile">
                    <h2>Welcome!</h2>
                    <p>The views are client-facing and could make or break my user’s experience with the application. I’ll use a similar template for each page to reduce complexity in this application. The top of each HTML page should have some HTML layout, a head, a link to my soon-to-be-built custom stylesheet, and navigation. The home page for the Confetti Cuisine site will look like figure 7.1, with links to my three views in the top-left corner.</p>
                </div>
            </div>

        </div>
    </body>
</html>